.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  border-radius: 4px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-left > li {
  margin: 5px 5px 5px 0;
}

.navbar-right > li {
  margin: 5px 0 5px 5px;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
}
a:hover a:focus {
  color: #df8a13;
  text-decoration: none;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  font-size: 3.5rem;
  margin-right: -0.33em;
  letter-spacing: 0.33em;
  color: #df8a13;
  font-family: "PT Serif", serif;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
  margin-right: -0.33em;
}
.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
  letter-spacing: 0.2em;
}